{{ attach_library('rfn_media_audio/rfn_media_audio') }}


<strong>{{ 'Artist'|t }}:</strong> <a href="{{ artist_path }}" title="{{ artist_name }}">{{ artist_name }}</a><br/>

{% if duration %}
<strong>{{ 'Duration'|t }}:</strong>  {{ duration }}<br/>
{% endif %}

{% if track_number %}
<stong>{{ 'Track number'|t }}:</stong> {{ track_number }}<br/>
{% endif %}

<audio controls controlsList="nodownload" onplay="stopAllOtherPlayers(event);">
    <source src="{{ rfn_build_streaming_uri(streaming_url) }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>


{#  if this track belongs to any collections, show them here #}
{% if collections|length > 0 %}
<h3> {{ 'Recordings and Playlists'|t }}:</h3>
    <ul>
    {% for collection in collections %}
        <li>{{ link(collection.title, collection.path) }}</li>
    {% endfor %}
    </ul>

{% endif %}

